<div class="jumbotron">
  <h1 id="jumbotron_text">to.do.or.not.to.do. <span class="glyphicon glyphicon-pencil"></span></h1>
</div>
<div id="menu_bar" class="btn-group btn-group-justified">
    <%= link_to 'login' , root_path, :class => 'btn btn-info', id: "news"%>
  </div>



<h4>To.do.or.not.to.do is an application which allows users to schedule reminders to be sent to their phones via SMS or voice.</h4> 
<h4><span class="glyphicon glyphicon-info-sign"></span> Instructions:</h4>

<h4><span class="glyphicon glyphicon-user"></span> Sign up on the registration page with a phone number and email.  Users will recieve an automated email, SMS and voice confirmation message.</h4> 
<img src="http://www.dianahilton.com/wp-content/uploads/2014/10/Screen-Shot-2014-10-09-at-11.36.45-PM.png"> 

<h4><span class="glyphicon glyphicon-user"></span> Sign in after you have recieved your confirmation messages.</h4>
<img src="http://www.dianahilton.com/wp-content/uploads/2014/10/Screen-Shot-2014-10-09-at-11.36.55-PM.png">

<h4><span class="glyphicon glyphicon-time"></span> On your dashboard you will see an input box and date/time settings:</h4>
<img src="http://www.dianahilton.com/wp-content/uploads/2014/10/Screen-Shot-2014-10-10-at-12.16.58-AM.png"> 

<h4><span class="glyphicon glyphicon-pencil"></span> Input your reminder and the time you would like to recieve the reminder.  Your reminder will be sent within +10 minutes of the scheduled time.</h4>
<img src="http://www.dianahilton.com/wp-content/uploads/2014/10/Screen-Shot-2014-10-10-at-12.15.46-AM.png">

<h4><span class="glyphicon glyphicon-list"></span> Reminders are displayed to a dashboard in a scrolling list. Delete the task by clicking on the trashcan icon.  Mark the task as done by clicking on the checkbox.  A line will appear through your task and cancel your reminder message if not already sent.</h4>
<img src="http://www.dianahilton.com/wp-content/uploads/2014/10/Screen-Shot-2014-10-10-at-1.05.27-AM.png">

<h4><span class="glyphicon glyphicon-cog"></span> Edit your account on the settings page to change your email, phone number, password, timezone, voice and sms settings.</h4>
<img src="http://www.dianahilton.com/wp-content/uploads/2014/10/Screen-Shot-2014-10-09-at-11.35.47-PM.png">

<h4> To.do.or.not.to.do was created by <a href="https://github.com/didiimnida">Diana Hilton</a> and <a href="https://github.com/alexnabrynski">Alex Nabrnyski.</a></h4>

<h4><span class="glyphicon glyphicon-thumbs-up"></span> Thank you for using our application! </h4>