<div class="jumbotron">
	<h1 id="jumbotron_text">WELCOME TO THE REMINDER APP </br> Currently logged in as <%= current_user.email %>!</h1>
 
</div>

  <div id="menu_bar" class="btn-group btn-group-justified">
    <a href="#" id="navbar" class="btn btn-default">About Us</a>
    <a href="#" id="navbar" class="btn btn-default">Send Email</a>
    <a href="#" id="navbar" class="btn btn-default">Send Text</a>
    <a href="#" id="navbar" class="btn btn-default">Logout</a>
  </div>
<div class="container-fluid">

  <h1 class="header">Todo Dashboard</h1>
	<div class="row center-block" id="category_input">
		<div class="col-sm-4 col-sm-offset-4 ">
      <h3>Category</h3>

	    <input type="text" class="form-control"> <br/>
	    <button class= "btn btn-primary">Add</button>
	  </div>
	</div>

	<div class="scroll">
		<ul>
			<%@todos.each do |todo| %>

			<%if todo.user_id == session[:current_user_id]%>

			<li data-todo-id="<%= todo.id %>">  
				<input type="checkbox" <%if todo.completed%>checked<%end%>>
				<%=todo.description%> 
				<!-- <span></span> -->
        <span class="glyphicon glyphicon-trash"></span>
			</li>
			<%end%>

			<% end %>
		</ul>
	</div>


	<div class="row" id="logout">
		<%= link_to 'Logout' , sessions_path, method: :delete, :class => 'btn btn-danger btn-mini' %>
	</div>

</div>
