<div class="jumbotron">
	<h1 id="jumbotron_text">
  </h1>
 	<div id="menu_bar" class="btn-group btn-group-justified">
		<a href="#" id="navbar" class="btn btn-default">About Us</a>
	  <a href="#" id="navbar" class="btn btn-default">Todos</a>
	  <a href="#" id="navbar" class="btn btn-default">Something else</a>
  </div>
</div>

<div class="container-fluid">


  <h1 class="header">Todo Dashboard</h1>
	<div class="row center-block">
		<div class="col-sm-4 col-sm-offset-4 ">
      <h3>Category</h3>

	    <input type="text" class="form-control"> <br/>
	    <button class= "btn btn-info">Add Todo</button>
	  </div>
	</div>

	<div class="scroll">
		<ul>
			<%@todos.each do |todo| %>

			<%if todo.user_id == session[:current_user_id]%>

			<li data-todo-id="<%= todo.id %>">  
				<input type="checkbox" <%if todo.completed%>checked<%end%>>
				<%=todo.description%> 
				<!-- <span></span> -->
        <span class="glyphicon glyphicon-trash"></span>
			</li>
			<%end%>

			<% end %>
		</ul>
	</div>


	<div class="row logout">
		<%= link_to 'Logout' , sessions_path, method: :delete %><br/>
		Logged in as <%= current_user.email %>
	</div>

</div>

<script type ="text/javascript">
  
  $('button').click(function(){
    alert("Don't forget to do this, okay!!!");
    });

  $('button').click(function(){
  	var desc = $('input').val();

  	data_hash = {
  		"todo":{"description": desc}
  	}

  	var request = $.ajax({
  		url: "/todos",
  		type: "POST",
  		data: data_hash,
  		dataType: "json"
  	});

  	request.done(function(data){
  		$('ul').append("<li data-todo-id= '" + data.id + "'>" + "<input type ='checkbox'> " + data.description + " <span class='glyphicon glyphicon-trash'>  </span></li>")
  		
  		$('input').val('') = "";
  	});

  	request.fail(function(data){
  		console.log("FAIL FUNCTION");
  		$('h1').append("<p> There was an error saving your todo</p>")
  	});

  });

  $('ul').click(function(e){
    	console.log(e.target);
    	var li = $(e.target).parent();
  	  var id = li.data("todo-id");

    	if($(e.target).is("span")){
  		var request = $.ajax({
  			url: "/todos/"+id,
  			type: "DELETE",
  			dataType: "json"
  		});

  		request.done(function(data){
  			li.remove();
  		});
  	  }

  	if($(e.target).is("input")){
  		var checkbox_value = $(e.target).is(':checked');
  		
  		data_hash = {
  		"todo":{"completed":checkbox_value}
  		}

  		var request = $.ajax({
  			url: "/todos/"+ id,
  			type: "PATCH",
  			data: data_hash,
  			dataType: "json"
  		});

  		request.done(function(data){
  			console.log(data)

  		});
  	}
  });
</script>

