<h1>Todo Dashboard</h1>

<div class="container">
	<!-- Want user to be able to update this.  -->
	<h3>Category</h3> 

	<input type="text" class="form-control"> <br/>
	<button class= "btn btn-info">Add Todo</button>

	<ul>
		<%@todos.each do |todo| %>

		<li data-todo-id="<%= todo.id %>">  
			<input type="checkbox" <%if todo.completed%>checked<%end%>>
			<%=todo.description%> 
			<span>&times;</span>
		</li>
		
		<% end %>
	</ul>
</div>


<%= link_to 'Logout' , sessions_path, method: :delete %><br />
Logged in as <%= current_user.email %>

