body {
  background-image:url(http://i.imgur.com/4uV93CR.png);
  font-family: 'Oswald', 'Futura', sans-serif;
  margin: 0px; 
  padding: 0px;
}

ul {
  margin:20px 0;
  padding:0;
}

ul li {
  width:100%;
  list-style-type: none;
  background:#eee;
  color:#666;
  margin-bottom:1px;
  padding:8px 20px;
  font-size:22px;
  border-radius: 5px;
  border:2px solid #ddd;
  text-align: left;
}
* {
  font-family: 'Open Sans Condensed', sans-serif;
}

.jumbotron {
  background-color: #079;
  background-size: cover;
}

#jumbotron_text{
padding: 5px; 
background-color: transparent;
color: white;
font-family: 'Oswald', sans-serif;;
}
 
.header{
	text-align: center;
}
 
.scroll{
	max-width:400px;
	max-height: 400px;
	min-height: 400px;
	overflow-y: scroll;
  	margin:0 auto;
	border: 5px solid #eee;
	border-radius: 10px;
	text-align: center;
	background: #eee;
}

.row{ 
	text-align: center;
	padding-bottom: 20px;
}

#bot_row{
	padding-bottom: 100px;
}

#navbar{
	font-size: 25px;
}

#logout{
	margin-top: 200px;
	position: fixed;
	left: 0;
	bottom: 0;
}

#menu_bar{
	position: bottom;
}

